.error {
background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV2aE9UAuHh0rWrhl9kq4xLrKJxcQ0oyAogw&usqp=CAU) center/cover ;
 
    bottom: 0;
    height: 300px;
  
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 600px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeSpeed;
    border-radius: 30px;
}
