.header{
   display: flex;
   justify-content: space-between;

 

}
.title{
    text-decoration: underline;
    color: aliceblue;
}
.cart{
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
}
body{
    background: url(https://oir.mobi/uploads/posts/2021-03/1616428030_38-p-knizhnii-fon-51.jpg) center/cover ;
}